<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @cliente.apell_pat %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @cliente.apell_mat %>
</p>

<p>
  <strong>N° documento:</strong>
  <%= @cliente.nif %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Atrás', clientes_path %>
